<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>S3 Explorer - Bucket - <%= bucketName %></title>
</head>
<body>
    <header>
        <h1>S3 Explorer - Bucket: <span class='dynamic'><%= bucketName %></span></h1>
        <a href="/"><button>Home</button></a>
    </header>
    <% if (bucketData) { %>
        <ul>
            <% bucketData.forEach(line => { %>
                <script>
                    var file = "<%= line %>"
                    var bucketName = "<%= bucketName %>"
                    document.write('<li><a target="_blank" href="/api/bucket/' + bucketName + '/' + encodeURIComponent(file) + '">' + file + '</a></li>');
                </script>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No data found</p>
    <% } %>
</body>
</html>