<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S3 Explorer - Waiting for bucket</title>
</head>
<body>
    <header>
        <a href="/"><button>Home</button></a>
        <h1>S3 Explorer - Waiting for bucket</h1>
    </header>
    <p id="status">Waiting for bucket to be cached...</p>
    <p>Cached <span id="status-count">__</span> Objects so far.</p>
    <script>
        setInterval(() => {
            fetch('/bucket/isCacheReady/<%= bucketName %>').then((data) => {
                data.json().then((jsonData) => {
                    if (jsonData.ready == true) {
                        document.getElementById("status").innerText = 'Bucket cached, redirecting...'
                        window.location.href = '/explore/<%= bucketName %>'
                    } else {
                        document.getElementById("status-count").setAttribute('x-actual-count', jsonData.objectCount);
                    }
                })
            })
        }, 1000);
        var numbersIncreaseInterval = setInterval(() => {
            var statusCount = document.getElementById("status-count")
            if (statusCount.innerText == '__') {
                statusCount.innerText = 0
            } else {
                if (parseInt(statusCount.getAttribute('x-actual-count')) > statusCount.innerText) {
                    statusCount.innerText = Math.ceil((parseInt(statusCount.getAttribute('x-actual-count')) - parseInt(statusCount.innerText)) / 4 + parseInt(statusCount.innerText))
                }
            }
        }, 100);
    </script>
</body>
</html>