<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S3 Explorer - Error</title>
</head>
<body>
    <h1>Something went wrong</h1>
    <p>Sorry about that.</p>
    <pre><%= message %></pre>
</body>
</html>