<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/explorer.css">
    <title>S3 Explorer</title>
</head>
<body>
    <header>
        <h1>S3 Explorer</h1>
        <a href="/"><button>Home</button></a>
        <a href="/bucket"><button>Access Buckets</button></a>
    </header>
    <fieldset>
        <legend>Bucket Details</legend>
        <h2>Bucket: <span id="title" class='dynamic'></span></h2>
        <p>Path: <span id="path"></span></p>
    </fieldset>
    <fieldset>
        <legend>Files</legend>
        <ul id="files"></ul>
    </fieldset>
    <script>
        const bucketName = window.location.pathname.split('/')[2];
        document.getElementById('title').innerText = bucketName;
        let path = document.getElementById('path').innerText;
        document.getElementById('path').parentElement.addEventListener("click", () => {
            path = prompt('Enter path', path);
            if (path == null)
                path = "";
            if (path == "..")
                goUp();
            else
                getFiles(path);
        })

        function getFiles(path="") {
            // process
            if (!path.endsWith("/")) path += "/";
            if (path.startsWith("/")) path = path.substring(1);
            while (path.includes("//")) path = path.replace("//", "/");
            if (path == "/") path = "";
            // remove existing files
            document.getElementById('files').innerHTML = '<li>loading...</li>';
            // update path
            document.getElementById('path').innerText = path;
            window.location.replace("#"+path)
            // fetch new files
            fetch('/api/bucket/'+bucketName+"?folder="+path).then((data) =>{
                if (data.status == 401) {
                    window.location.replace("/login");
                    return
                }
                if (data.status != 200){
                    console.error(data.status, data.statusText);
                    document.getElementById('files').innerHTML = '<li>error loading files</li>';
                    return
                }
                // add new files
                data.json().then((jsonData) => {
                    console.log(jsonData);
                    if (path != "") document.getElementById('files').innerHTML = '<li class="fileTile folder" onClick="goUp()"><p><img src="/icon/folder-back" alt="folder "></p><p>..</p></li>';
                    else document.getElementById('files').innerHTML = "";
                    jsonData.forEach((file) => {
                        var li = document.createElement('li');
                        li.className = "fileTile " + ((file.isFolder) ? "folder" : "file");
                        var p1 = document.createElement('p');
                        var img = document.createElement('img');
                        img.src = "/icon/" + ((file.isFolder) ? "folder" : getIconName(file.file))
                        img.alt = ((file.isFolder) ? "folder" : getIconName(file.file)) + " icon ";
                        var p2 = document.createElement('p');
                        var text = document.createTextNode(file.file);
                        p1.appendChild(img);
                        li.appendChild(p1);
                        p2.appendChild(text);
                        li.appendChild(p2);
                        document.getElementById('files').appendChild(li);
                        if (file.isFolder) {
                            li.addEventListener("click", () => {
                                getFiles(path + file.file + "/")
                            })
                        }
                        else {
                            li.addEventListener("click", () => {
                                window.open("/api/bucket/"+bucketName+"/"+encodeURIComponent(file.path), "_blank")
                            })
                        }
                        })
                    })
                })
            }

            function goUp() {
                var newpath = document.getElementById('path').innerText.split('/');
                if (newpath.length > 2) {
                    delete newpath[newpath.length-2];
                    newpath = newpath.join('/') + '/';
                } else {
                    newpath = "";
                }
                getFiles(newpath);
            }

            function getIconName(filename) {
                var ext = filename.split('.').pop();
                switch (ext) {
                    case "jpg":
                    case "jpeg":
                    case "png":
                    case "gif":
                    case "svg":
                        return "image";
                    case "mp4":
                    case "webm":
                    case "ogg":
                    case "mkv":
                        return "video";
                    case "mp3":
                    case "wav":
                    case "ogg":
                        return "audio";
                    case "pdf":
                        return "pdf";
                    case "doc":
                    case "docx":
                        return "word";
                    case "xls":
                    case "xlsx":
                        return "excel";
                    case "ppt":
                    case "pptx":
                        return "powerpoint";
                    case "zip":
                    case "rar":
                    case "7z":
                    case "tar":
                    case "gz":
                    case "bz2":
                        return "archive";
                    case "txt":
                        return "file";
                    default:
                        return "unknown";
                }
            }

            document.onreadystatechange = () => {
                if (document.readyState === 'complete') {
                    // get anchor from url and set path
                    var path= "";
                    path = window.location.hash.replace("#", "");
                    getFiles(path);
                }
            };
    </script>
</body>
</html>