<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>S3 Explorer - Home</title>
</head>
<body>
    <header>
        <h1>Hello, <% if (session.username) { %><%= session.username %><%} else { %>World <% } %>!</h1>
    </header>
    <ul class="menu">
        <li><a href="/config/list">Configurations</a></li>
        <% if (session.aws.bucket) { %>
            <li><a href="/bucket">Access Bucket</a></li>
        <% } %>
        <% if (showLogin) { %>
            <% if (session.loggedIn) { %>
                <li><a href="/logout">Logout</a></li>
            <% } else { %>
                <li><a href="/login">Login</a></li>
            <% } %>
        <% } %>
    </ul>
</body>
</html>