<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S3 Explorer - Home</title>
</head>
<body>
    <h1>Hello, <% if (session.username) { %><%= session.username %><%} else { %>World <% } %>!</h1>
    <ul>
        <li><a href="/config">Set Configuration</a></li>
        <li><a href="/config/list">Saved Configurations</a></li>
        <li><a href="/s3/list">List Buckets</a></li>
        <% if (showLogin) { %>
            <% if (session.loggedIn) { %>
                <li><a href="/logout">Logout</a></li>
            <% } else { %>
                <li><a href="/login">Login</a></li>
            <% } %>
        <% } %>
    </ul>
</body>
</html>